<div class="w3-main" style="margin:auto;max-width:1260px">
	<div  class="w3-container w3-padding-jumpo">
		<%= render partial: "shared/sidebar" %>
		
		<div class=" w3-col l9 m9 s12">
			<div style="margin-bottom:30px" class="w3-container w3-white w3-margin-left w3-padding">
				<h1>Tin Tức, Sự Kiện</h1>
				
    				<% @tintucs.each do |tintuc| %>
    					<%= link_to [tintuc.category, tintuc] do %>
    					<div class="w3-row w3-margin">
        					<div class="w3-third">
        	  					<%= image_tag tintuc.image, style: "width:100%" %>
        					</div>
        					<div class="w3-twothird w3-container">
        					  <h2><%= tintuc.title %></h2>
        					  <p><strong><span style="color: rgb(184, 49, 47);"><%= tintuc.created_at.strftime("%b %d, %Y") %></span></strong></p>
        					  <p><%= tintuc.tomtat %></p>
        					</div>
        				</div><hr>	
        			    <% end %>
					<% end %>		
				
			</div>
			
			
		</div>	
	</div>
</div>

<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>