<div class="w3-col l3 m3 s12 w3-hide-small " style="margin-bottom:20px">
			<div class="w3-card-1 w3-topbar w3-border-blue">
				<div class="w3-container w3-white ">
					<p><strong><span style="color: rgb(41, 105, 176);"><span style="font-size: 18px;">Danh Mục Sản Phẩm</span></span></strong></p>
				</div>
				<% @categories.each do |category| %>
					<% if !category.tintuc? %>
						<div class="w3-container active w3-border-bottom w3-white">
							<p><strong><span style="color: rgb(184, 49, 47);"><span style="font-size: 18px;"><%= link_to category, class: "w3-hover-text-blue" do %><i class="fa fa-chevron-circle-down" aria-hidden="true"></i> <%= category.name %><% end %></span></span></strong></p>
						</div>
					<% end %>	
				<% end %>
				<div class="w3-container active w3-border-bottom w3-white">
					<p><strong><span style="color: rgb(98, 49, 47);"><span style="font-size: 18px;"><%= link_to tatca_path, class: "w3-hover-text-blue" do %><i class="fa fa-product-hunt" aria-hidden="true"></i> Tất cả SP<% end %></span></span></strong></p>
					<p><strong><span style="color: rgb(98, 49, 47);"><span style="font-size: 18px;"><%= link_to  tintuc_path, class: "w3-hover-text-blue" do %><i class="fa fa-newspaper-o" aria-hidden="true"></i> Tin Tức<% end %></span></span></strong></p>
					<p><strong><span style="color: rgb(98, 49, 47);"><span style="font-size: 18px;"><%= link_to khachhang_index_path, class: "w3-hover-text-blue" do %><i class="fa fa-users" aria-hidden="true"></i> Khách Hàng<% end %></span></span></strong></p>
					<p><strong><span style="color: rgb(98, 49, 47);"><span style="font-size: 18px;"><%= link_to lienhe_path, class: "w3-hover-text-blue" do %><i class="fa fa-map-marker" aria-hidden="true"></i> Liên Hệ<% end %></span></span></strong></p>
					<p><strong><span style="color: rgb(98, 49, 47);"><span style="font-size: 18px;"><%= link_to video_path, class: "w3-hover-text-blue" do %><i class="fa fa-video-camera" aria-hidden="true"></i> Video<% end %></span></span></strong></p>
					<p><strong><span style="color: darkblue;"><span style="font-size: 18px;"><%= link_to "https://www.facebook.com/ydt.nguyen?fref=ts", class: "w3-hover-text-blue" do %><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook<% end %></span></span></strong></p>
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=260&height=70&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=157760634616271" width="100%" height="140" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</div>
			</div>	
		</div>
		
		